*.elc
*~
.cache/
.cask/
.extension/
.python-environments/
/.dap-breakpoints
/.DS_Store
/.edbi-ds-history
/.last-package-update-day
/.lsp-session-v1
/.mc-lists.el
/abbrev_defs
/ac-comphist.dat
/amx-items
/auto-save-list
/bm-repository
/bookmarks
/company-statistics-cache.el
/flycheck_init.el
/forge-database.sqlite
/id-manager.el
/network-security.data
/places
/projectile-bookmarks.eld
/rake.cache
/recentf
/straight/
/twittering-mode.gpg
el-get/
elpa/
eshell/
gotools/
history
request/
semanticdb/
tramp
transient/
url/cookies
wget-log
