[submodule "modules/coffee-mode"]
	path = modules/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "modules/magit"]
	path = modules/magit
	url = https://github.com/magit/magit.git
[submodule "modules/twittering-mode"]
	path = modules/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "modules/emacs-window-layout"]
	path = modules/emacs-window-layout
	url = https://github.com/kiwanami/emacs-window-layout.git
[submodule "modules/emacs-window-manager"]
	path = modules/emacs-window-manager
	url = https://github.com/kiwanami/emacs-window-manager.git
[submodule "modules/switch-window"]
	path = modules/switch-window
	url = https://github.com/dimitri/switch-window.git
[submodule "modules/jaunte"]
	path = modules/jaunte
	url = https://github.com/kawaguchi/jaunte.el.git
[submodule "modules/emacs-deferred"]
	path = modules/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "modules/emacs-zlc"]
	path = modules/emacs-zlc
	url = https://github.com/mooz/emacs-zlc.git
[submodule "modules/jade-mode"]
	path = modules/jade-mode
	url = https://github.com/brianc/jade-mode.git
