*.elc
*~
/.DS_Store
/.cache/
/.cask/
/.dap-breakpoints
/.edbi-ds-history
/.extension/
/.last-package-update-day
/.lsp-session-v1
/.mc-lists.el
/.python-environments/
/abbrev_defs
/ac-comphist.dat
/amx-items
/auto-save-list
/bm-repository
/bookmarks
/chatgpt/
/code-review-db-file.sqlite
/code-review-error.log
/company-statistics-cache.el
/dall-e/
/elpa/
/emojis/
/eshell/
/flycheck_init.el
/forge-database*.sqlite
/forge-database-*-*.sql
/gotools/
/history
/id-manager.el
/image-dired/
/lisp/transcript.txt
/network-security.data
/places
/projectile-bookmarks.eld
/projects
/rake.cache
/recentf
/request/
/semanticdb/
/straight/
/tramp
/transient/
/tree-sitter
/twittering-mode.gpg
/url/
/var/
